<div class="container">
    <h3>Список мест хранения.</h3>
    <form  #f="ngForm"  (ngSubmit)="onSubmit()">
        <div class="container" *ngFor = "let place of places">
            <div class="form-check"
                    >
                <label class="form-check-label">
                <input class="form-check-input"
                    name="placeToChange"
                    id="" type="radio"
                    value={{place.name}}
                    aria-label="Список мест хранения: "
                    ngModel
                    required
                     >
                {{ place.name}}
                </label>
            </div>
        </div>
        <div class="container">
            <button class="btn btn-primary btn-scope" id="mainMenu">Главное меню</button>
            <button class="btn btn-success" type="submit" [disabled]="f.valid">Выбрать</button>
        </div>
    </form>

</div>






