<div class="container">
        <h3>Cписок предметов каталога</h3> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Описание</th>
                    <th>Ключ</th>
                    <th>Изображение</th>
                    <th>Место хранения</th>
                    <th>Тип предмета</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of this.itemsList; let i = index">
                <tr>
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{item.description}}</td>
                    <td>{{ item.key }}</td>
                    <td> <img src="{{ item.imageSource }}"> </td>
                    <td>{{ item.storage.name }}</td>
                    <td>{{ item.itemType.name }}</td>
                    
                </tr>
                
            </tbody>
        </table>
            <button class="btn btn-primary btn-scope" id="mainMenu">Главное меню</button>
</div>