<div class="common-div">
    <div class="container">
        <p class="main-menu-title">Предметы</p>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="addItemStart">Добавить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="showAllItemsList">Изменить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="showItemDeleteList">Удалить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="showAllItems">Просмотреть все предметы каталога</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="choosePlace">Просмотреть все предметы из хранилища</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="chooseTypes">Просмотреть все предметы данного типа</div>
            </li>
        </ul>
    </div>
    <br>
    <div class="container">
        <p class="main-menu-title">Типы предметов</p>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="addTypeStart">Добавить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="showTypeList">Изменить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="showType">Удалить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button btn-scope" id="showAllItemTypes">Просмотреть все типы</div>
            </li>
            
            
        </ul>
    </div>
    <br>

    <div class="container">
        <p class="main-menu-title">Места хранения</p>
        <ul class="list-group">
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button place-btn btn-scope" id="addPlaceStart">Добавить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button place-btn btn-scope" id="placeList">Изменить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button place-btn btn-scope" id="showPlaces">Удалить</div>
            </li>
            <li class="list-group-item">
                <div class="btn btn-primary main-menu-button place-btn btn-scope" id="showAllPlaces">Просмотреть все мета хранения</div>
            </li>
        </ul>
    </div>
</div>