<div class="container">
        <h3>Выберите предмет для удаления из каталога</h3> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Описание</th>
                    <th>Ключ</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of this.deleteItemService.items; let i = index">
                <tr>
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item.name }}</td>
                    <td>{{item.description}}</td>
                    <td>{{ item.key }}</td>
                    <td><div class="btn primary-btn delete-btn" id="{{ item.key }}">Удалить</div></td>
                </tr>
                
            </tbody>
        </table>
            <button class="btn btn-primary btn-scope" id="mainMenu">Главное меню</button>
</div>