<div class="container"> 
    <h2>Изменение предмета в каталог</h2>
    <form [formGroup]="changeItemForm" (ngSubmit)="onSubmit()">
        <div class="form-group add-input-form">
            <label for="name">Введите нового имя предмета</label>
            <input class="form-control name-input" 
                type="text" 
                id="name" 
                placeholder="Введите название"
                formControlName="name"    
            >
            
            <label for="description">Введите новое описание для предмета</label>
            <textarea class="form-control"
                name="" 
                id="description" 
                rows="3"
                formControlName="description"    
                placeholder="Введите  описание"  
            ></textarea>

            <label for="key">Введите новый ключ в каталоге для предмета</label> 
            <input class="form-control name-input" 
                type="text" 
                id="key" 
                placeholder="Введите  ключ"
                formControlName="key"    
            >
            <!-- Ранее загруженные фото, сделать с функцией удалить  -->
            <div formArrayName="oldItemPictures">
                <label>Cтарые фотографии</label>
                <div
                    *ngFor="let itemPicture of this.itemPictureOld;  let i = index"
                >
                    <div>
                        <input
                            class="form-control name-input"
                            [formControlName]="i" 
                            type="text"
                            (keyup)="onKeyOldPictureName($event)"
                            [id]="itemPicture.id"
                        >
                        <button class="delete-photo-button" 
                            (click)="onClickDeleteOldPicture($event)"
                        >X</button>
                        <img 
                            class="add-photo-image"
                            src="sdaf3"
                        >
                    </div>
                    <!-- <br> -->
                </div>
            </div>
            <div formArrayName="itemPictures">
                <label>Добавление фотографии </label> <br>
                <button
                  class="btn btn-default"
                  type="button"
                  (click)="onAddPhotoPath()">Добавить фото</button>
                <div
                  class="add-file"
                  *ngFor="let itemPictures of controlsItemPictures; let i = index">
                    <div>
                        <input type="file"
                            class="add-image-path" 
                            [formControlName]="i" 
                            (change)="onFileAdded($event)" 
                        >
                        <button class="delete-photo-button" 
                            (click)="onClickDeletePicture($event)"
                            wasUploaded="false"
                        >X</button>
                        <img 
                            class="add-photo-image"
                        >
                    </div>
                    <br>
                </div>
            </div>

              <label for="">Выбирите новое место расположение предмета</label>
              <select class="form-control" name="place" id="place" formControlName="place" >
                    <option *ngFor="let place of places" [value]="place.name">{{ place.name }}</option>
              </select> 

              <label for="">Выбирите новый тип предмета</label>
              <select class="form-control" name="type" id="type"  formControlName="type" >
                    <option *ngFor="let itemType of itemTypes" [value]="itemType.name">{{ itemType.name }}</option>
              </select> 
            <button class="btn btn-primary btn-scope" id="mainMenu">Главное меню</button>
            <button class="btn btn-success" type="submit">Изменить</button>
 
        </div>
    </form>
</div>