<div class="container">
    <h3>Список типов предметов. Выберите, какой нужно удалить.</h3>
    <form  #f="ngForm"  (ngSubmit)="onSubmit()">
        <div class="container" *ngFor = "let type of types">
            <div class="form-check"
                    >
                <label class="form-check-label">
                <input class="form-check-input"
                    name="placeToChange"
                    id="" type="radio"
                    value={{type.name}}
                    aria-label="Список типов предметов: "
                    ngModel
                     >
                {{ type.name}}
                </label>
            </div>
        </div>
        <div class="container">
            <button class="btn btn-primary btn-scope" id="mainMenu">Главное меню</button>
            <button class="btn btn-danger" type="submit">Удалить</button>
        </div>
    </form>

</div>

