
<div class="container"> 
    <h2>Добавление нового предмета </h2>
    <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
        <div class="form-group add-input-form">
            <label for="name">Введите имя нового предмета</label> 
            <input class="form-control name-input" 
                type="text" 
                id="name" 
                placeholder="Введите название"
                formControlName="name"    
            >
            <span
                *ngIf= "addItemForm.get('name').touched && !addItemForm.get('name').valid"
            >Введите название предмета</span><br>
            <label for="description">Введите описание предмета</label>
            <textarea class="form-control" 
                name="" 
                id="description" 
                rows="3"
                formControlName="description"    
                placeholder="Введите  описание"
            ></textarea>

            <label for="key">Введите ключ для предмета</label>
            <input class="form-control name-input" 
                type="text" 
                id="key" 
                placeholder="Введите  ключ"
                formControlName="key"
                (keyup)="onKey($event)"    
            > 
            <span
                *ngIf= "addItemForm.get('key').touched && this.keyExistFlag"
            >Предмет с таким ключём уже есть в каталоге. Введите другой</span><br>
            <div formArrayName="itemPictures">
                <label>Добавьте фотографии </label> <br>
                <button
                  class="btn btn-default"
                  type="button"
                  (click)="onAddPhotoPath()">Добавить фото</button>
                <div
                  class="add-file"
                  *ngFor="let itemPictures of controlsItemPictures; let i = index">
                    <div>
                        <input type="file"
                            class="add-image-path" 
                            [formControlName]="i" 
                            (change)="onFileAdded($event)" 
                        >
                        <button class="delete-photo-button" 
                            (click)="onClickDeletePicture($event)"
                            wasUploaded="false"
                        >X</button>
                        <img 
                            class="add-photo-image"
                        ><span
                            *ngIf="this.photoNameIsExistFlag"
                        >Данное название фото уже есть в каталоге. Переименуйте и загрузите заново</span>
                    </div>
                    <br>
                </div>
            </div>

              <label for="">Выбирите место расположение</label>
              <select class="form-control" id="place" formControlName="place" >
                    <option *ngFor="let place of places" [value]="place.name" >{{ place.name }}</option>
              </select> 

              <label for="">Выбирите тип</label>
              <select class="form-control" name="type" id="type"  formControlName="type" >
                    <option *ngFor="let itemType of itemTypes" [ngValue]="itemType.name">{{ itemType.name }}</option>
              </select> 

              
            <button class="btn btn-primary btn-scope" id="mainMenu">Главное меню</button>
            <button class="btn btn-success add-item" type="submit"
                [disabled]="
                !this.addItemForm.get('key').valid || 
                !this.addItemForm.get('name').valid || 
                !this.addItemForm.get('type').valid || 
                !this.addItemForm.get('place').valid || 
                this.keyExistFlag ||
                this.photoNameIsExistFlag 
                " 
            >Добавить</button>
 
        </div>
    </form>
         <!-- <h1>File Upload</h1>
         <input type="file" (change)="onFileSeleceted($event)">
         <button (click)="onUploadFile()"
         >Upload</button> -->
</div>