
.btn {
    margin-left: 30px;
    font-size: 18px;
    margin-top: 40px;
}

h2 {
    align-items: center;
    text-align: center;
}

div.container {
    font-size: larger;
    align-content: center;
    text-align: center;
}


.name-input, select, textarea, input.add-image-path{
    width: 40%;
    min-width: 150px;
    margin: auto;
    margin-bottom: 20px;
} 
p {
    text-align: center;
    align-content:center;
}

ul {
    display: table;
    margin: auto;

}